{% extends 'layout_personal.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home_personal.css')}}">
{% endblock head %}

{% block nameUser %}
    <span class="nameUser" id="{{idPersonal}}">{{namePersonal}}</span>
{% endblock nameUser %}

{% block main %}

    <section class="section-assing-schedule">
        <h2>Registrar Marca</h2>
        <hr>
        <div class="container-error">
            <p class="errorFront"></p>
            {% if error %}
            <p class="errorBack">{{error}}</p>
            {% endif %}
        </div>
            <section>
                <div>
                    <div class="form-assing-schedule">
                        <div class="widget">
                            <div class="date">
                                <p id="dayWeek" class="dayWeek"></p>
                                <p id="day" class="day"></p>
                                <p>de</p>
                                <p id="month" class="month"></p>
                                <p>del</p>
                                <p id="year" class="year"></p>
                            </div>
                            <div class="clock">
                                <p id="hours" class="hours"></p>
                                <p>:</p>
                                <p id="minutes" class="minutes"></p>
                                <p>:</p>
                                <p id="seconds" class="seconds"></p>
    
                            </div>
                        </div>
                    </div>
                </div>
              
            </section>  
        <hr>
        <div>
            <input type="submit" value="Marcar Entrada" id="btnMarkStart" form="formMarkStart">
            <input type="submit" value="Marcar Salida" id="btnMarkEnd" form="formMarkEnd">
        </div>
    </section>
    <form action="http://127.0.0.1:5005/mark_start/{{idPersonal}}"  method="POST" id="formMarkStart"></form>
    <form action="http://127.0.0.1:5005/mark_end/{{idPersonal}}"  method="POST" id="formMarkEnd"></form>

{% endblock main %}
{% block script %}

<script src="{{url_for('static', filename='js/clock.js')}}"></script>

{% endblock script %}