{% extends 'layout_company.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/report.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock head %}

{% block nameUser %}
    <span class="nameUser" id="{{idCompany}}">{{nameCompany}}</span>
{% endblock nameUser %}

{% block main %}

<section class="section-list-personal">
    <h2>Reporte</h2>
    <hr>
    <div class="container-error">
        <p class="errorFront"></p>
        {% if error %}
        <p class="errorBack">{{error}}</p>
        {% endif %}
    </div>
    <form action="" method="post" class="items-filter">
        <div>
            <label for="date">Fecha Desde</label>
            <input id="date" type="date" name="startDate" placeholder="Fecha Desde" value="">
        </div>
        <div>
            <label for="date">Fecha Hasta</label>
            <input id="date" type="date" name="endDate" placeholder="Fecha Desde" value="">
        </div>
        <div>
            <label for="number">Documento</label>
            <input id="document" type="number" name="document" placeholder="Ingrese documento" value="">
        </div>
        <div>
            <input type="submit" value="Buscar" id="btnSearch">
        </div>
    </form>
    <hr>
    <table id="table-list-personal" class="display compact">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Horario Entrada</th>
                <th>Horario Salida</th>
                <th>Incidencia</th>
            </tr>
        </thead>
        <tbody>
            {% if code == 200 %}
                {% for mark in marks %}
                <tr>
                    <td>{{mark['document']}}</td>
                    <td>{{mark['name']}}</td>
                    <td>{{mark['date']}}</td>
                    <td>{{mark['startHour']}}</td>
                    <td>{{mark['endHour']}}</td>
                    <td>{{mark['incident']}}</td>
                </tr>
                {% endfor %} 

            {% endif %}
        </tbody>
</section>


{% endblock main %}
{% block script %}
<script src="{{url_for('static', filename='js/list-personal.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-list-personal').DataTable({
            
            "language": {
            "lengthMenu": " _MENU_ ",
            "zeroRecords": "No hay registros",
            "info": "Mostrando Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros",
            "infoFiltered": "(filtered from _MAX_ total registros)"
        },
        "scrollY":        '50vh',
        "scrollCollapse": true,
        "paging":         true,
        "autoWidth": false

           });
           
    } );
</script>
{% endblock script %}