* {
    margin: 0px;
    padding: 0px;
}

h2 {
    color: var(--blue);
    font-size: 2.4rem;
}

/**********FIN ESTILOS GENERALES**********/

/******************************************************************************************/

/**********INICIO ESTILOS VARIABLES**********/
:root {
    --blue: #4e73df; 
    --grey: #aaaaaf;
    --shadow:#e6e6ec;
    --grey_body:#e7e7e9;
    --font-family: 'Open Sans', sans-serif;
    --red-btn: rgb(211, 25, 25);
}
/**********FIN ESTILOS VARIABLES**********/


.items-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.item-card {
    max-width: 25rem;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.item-card:nth-child(1){
    border-left: 0.6rem solid #4e73df;
}

.item-card:nth-child(2){
    border-left: 0.6rem solid #1cc88a;
}

.item-card:nth-child(3){
    border-left: 0.6rem solid #36b9cc;
}

.item-card:nth-child(4){
    border-left: 0.6rem solid #f6c23e;
}

.item-card h3 {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
}

.item-card:nth-child(1) h3 {
    color: #4e73df;
}

.item-card:nth-child(2) h3{
   color: #1cc88a;
}

.item-card:nth-child(3) h3{
    color:#36b9cc;
}

.item-card:nth-child(4) h3{
    color:#f6c23e;
}

.item-card p {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

.items-notifications {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgba(0,0,0,.1);
    margin: 4rem 0rem;
}

@media screen and (max-width: 680px) {
    .item-card {
        max-width: 100%;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 1rem;
    }
}



#table-notifications {
    text-align: center;
    font-size: 1.2rem;
}

#table-notifications a {
   display: inline-block;
}


#table-notifications a:first-child {
    width: auto;
    height: 1.4rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: .4rem 1rem;
    background-color: #4e73df;
    color: white;
    outline: 0;
    border: rgba(0,0,0,.1) 0 solid;
    cursor: pointer;
    font-weight: bold;
}


.fa-user-clock { 
    width: auto;
    height: 1.4rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: .4rem 1rem;
    background-color: #1cc88a;
    color: white;
    outline: 0;
    border: rgba(0,0,0,.1) 0 solid;
    cursor: pointer;
    font-weight: bold;
}

.sorting {
    font-size: 1.4rem;
    color: var(--grey);

}

