


/*************************************************************************/
/* *********INICIO ESTILOS GENERALES********* */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}


/**********FIN ESTILOS GENERALES**********/

/******************************************************************************************/

/**********INICIO ESTILOS VARIABLES**********/
:root {
    --blue: #4e73df; 
    --grey: #d1d3e2;
    --grey_shadow:#aeafbb;
    --grey_body:#d6d6da;
    --font-family: 'Open Sans', sans-serif;
}

/**********FIN ESTILOS VARIABLES**********/

/****************************************************************************/


/******************Inicio estilos layout_company sidebar********************/
.container_company {
    font-family: var(--font-family);
    display: flex;
    width: 100%;
    flex-direction: row;
}

.container_company .nav_company {
    max-width: 23rem;
    width: 100%;
    background-color: var(--blue);
    padding: 1.5rem;

}

.container_company .nav_company h1{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}



.container_company .nav_company ul {
    margin: 0px;
    padding: 0px;
}

.container_company .nav_company ul li{
    list-style: none;
    margin: 0px;
    margin-left: 2rem;
    padding: 1.5rem 1rem;
    color: white;
    font-size: 1.4rem;
}




.container_company .nav_company ul li a i{
    padding-right: 1rem;
}


.container_company .nav_company ul a {
    color: white;
}


.container_company .nav_company hr{
    background-color:  rgba(255,255,255,.15);
}

.container_company .nav_company .employee {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;

}


.fa-chevron-down {
    padding-left: 4rem;
}


.active {
    display: none;
}


.container_company .nav_company .sub_menu {
    background-color: white;
    border-radius: 1rem;
    padding: 0;
}

.container_company .nav_company .sub_menu ul li {
    color: var(--blue);
    padding: 1rem 0;
    margin: 0px;
    padding: 1.5rem 1rem ;

}

.container_company .nav_company .sub_menu ul li:hover {
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 1.5rem 1rem ;

}


.container_company .nav_company .sub_menu a {
    color: var(--blue);
}



@media screen and (max-width: 768px) {
  
    .container_company .nav_company {
        max-width: 23rem;
        width: 10rem;
    }

    .container_company .nav_company ul li {
        margin-left: 0px;
    }
    


    
    .container_company .nav_company ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        padding: 0.8rem;
    }



    .container_company .nav_company ul li a span {
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    .container_company .nav_company ul li a i {
        font-size: 2rem;
    }
    
    .container_company .fa-chevron-down {
        display: none;
    }

    .container_company .nav_company .sub_menu {
        position: absolute;
        left: 10rem;
        top: 25rem;
        box-shadow: 1px -1px 21px -10px rgba(0,0,0,0.44);
        -webkit-box-shadow: 1px -1px 21px -10px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px -1px 21px -10px rgba(0,0,0,0.44);
    }

    .container_company .nav_company .employee {
        display: block;
        padding-right: 1rem;
    
    }

    .container_company .nav_company  h1 {
        font-size: 2rem;
        text-align: center;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }


    .container_company .nav_company ul li a i{
        padding-right: 0rem;
    }
    
    .container_company .nav_company .sub_menu ul li i {
        font-size: 1.4rem;
    
    }
    
    .container_company .nav_company .sub_menu ul li a {
        font-size: 1.3rem;
    
    }
    
    .container_company .nav_company .sub_menu   {
        padding:0px;
    
    }
  }


/******************Fin estilos layout_company sidebar********************/

/******************Inicio estilos layout_company header********************/


.container_company .header_company {
    height: 7rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container_company .header_company .fa-bars {
    font-size: 2rem;
    color: var(--blue);
    padding: 1rem;

}

.container_company .header_company .fa-bars:hover {
    background-color: var(--grey_shadow);
    border-radius: 50%;

}

.container_company .header_company .header_company_container_perfil .header_company_border {
    width: 0;
    border-right: 1px solid var(--grey);
    height: 4rem;

}

.container_company .header_company .header_company_container_perfil {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    font-size: 1.5rem;
    align-items: center;
    width: 20rem;
}


.container_company .header_company .header_company_container_perfil a {
    color: var(--grey);
}

.container_company .header_company .header_company_container_perfil .fa-bell:hover {
    color: var(--grey_shadow);
}

.container_company .header_company  .header_company_perfil {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container_company .header_company  .header_company_perfil img {

    width: 3rem;
    margin-left: 2rem;
}

.container_company .header_company  .header_company_perfil span {

    font-weight: bold;
}

.container_company .header_company  .header_company_perfil span:hover {

    font-weight: bold;
    color: var(--grey_shadow);
}

.container_header_main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.main_company {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--grey_body);

}



/******************Fin estilos layout_company header********************/
