/* *********INICIO ESTILOS GENERALES********* */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}


/**********FIN ESTILOS GENERALES**********/

/******************************************************************************************/

/**********INICIO ESTILOS VARIABLES**********/
:root {
    --blue: #4e73df; 
    --grey: #d1d3e2;
    --grey_shadow:#aeafbb;
    --grey_body:#d6d6da;
    --font-family: 'Open Sans', sans-serif;
}

/**********FIN ESTILOS VARIABLES**********/

/****************************************************************************/

/**********INICIO ESTILOS LOGIN EMPRESA**********/
.main-login {
    background-color: white;
    display: flex;
    height: auto;
    max-width: 90rem;
    width: 70%;
    border-radius: 1rem;
    margin-top: 5rem;
}



.section-img-login, .section-form-login {
    flex: 1;
    padding: 4rem;
}


.section-form-login h1 {
    text-align: center;
    margin-bottom: 3rem;
    padding: 0px;
    margin-top: 0px;
    color: rgb(71, 70, 70);
    font-size: 4rem;
    color: var(--blue);
}

.section-form-login h2 {
    text-align: center;
    color: rgb(71, 70, 70);
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0px;
    color: var(--grey_shadow);
}


.section-form-login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

}

.container-error {
    height: 6rem;
    font-size: 1.2rem;
}

.container-error p {
    padding: 0;
}


.errorFront {
    color: red;
    text-align: center;
    visibility: hidden;
    padding-top: 2rem;
    font-weight: bold;
}


.errorBack {
    color: red;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
}

.section-form-login input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: auto;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    border: rgba(0, 0, 0, 0.39) 1px solid;
    outline: 0;
    padding: 1rem;
    background-color: white;
    margin-bottom: 2rem;
}

.section-form-login input[type="submit"] { 
    width: auto;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--blue);
    color: white;
    outline: 0;
    border: rgba(0,0,0,.1) 0 solid;
    cursor: pointer;
    margin-bottom: 2rem;
    font-weight: bold;
}


.section-form-login input[type="submit"]:hover {
    background-color: #2e4da8;
}


.section-form-login hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 2rem;
}
    

.section-form-login a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--blue);
    text-align: center;
    margin-bottom: 2rem;
}


.section-img-login{
    background-image: url(/static/img/businessman-3213659_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:-15rem ;
    border-radius: 1rem 0 0 1rem;
}



@media screen and (max-width: 860px) {
    .main_login {
        background-color: white;
        display: flex;
        height: auto;
        max-width: 90rem;
        width: 90%;
        border-radius: 1rem;
        margin-top: 5rem;
    }
  }



@media screen and (max-width: 700px) {
    .main-login {
        height: auto;
        max-width: 90rem;
        width: 90%;
        max-width: 30rem;
        border-radius: 1rem;
        margin-top: 5rem;
        flex-direction: column;
    }

    .section-form-login h1 {
        text-align: center;
        margin-bottom: 3rem;
        padding: 0px;
        margin-top: 0px;
        color: rgb(71, 70, 70);
        font-size: 3rem;
        color: var(--blue);
    }

    .section-img-login {
        display: none;
    }

    .section-form-login 
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
            height: 3rem;
            font-size: 1rem;
            border-radius: 2rem;
            border: rgba(0, 0, 0, 0.39) 1px solid;
            outline: 0;
            padding: 1rem;
            background-color: white;
            margin-bottom: 2rem;
    }

    .section-form-login input[type="submit"] {

        height: 3rem;
        font-size: 1rem;
        border-radius: 2rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }


    .section-form-login form a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--blue);
        text-align: center;
    }

    .section-form-login form hr {
        margin-bottom: 2rem;
    }

        
    .container-error {
        height: 2rem;
        font-size: 1rem;
        padding: 0px;
        margin-bottom: 2rem;
    }

    .container-error p {
        padding: 0;
    }


    .section-form-login h2 {
        margin-bottom: 2rem;
    }

}

/**********FIN ESTILOS LOGIN EMPRESA**********/