{% extends 'layout.html' %}
{% block body %}
<main class="main">
    <section class="main-img">

    </section>
    <section class="main-form">
        <h1>The Clock</h1>
        <p class="error">Usuario o contraseña incorrecto</p>
        <form action="">
            <input type="text" id="user" placeholder="Ingrese usuario">
            <input type="text" id="password" placeholder="Ingrese Contraseña">
            <input type="submit" value="Ingresar" id="btn">
            <hr>
            <a href="#">Recuperar contraseña</a>
            <a href="#">Registrarse</a>
        </form>
    </section>
</main>
{% endblock body %}